.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999999999;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
}